h1{
	height: inherit;
	left: 1.25em;
	line-height: inherit;
	position: absolute;
	top:0;
	color: #fff;
	font-weight: 800;
	letter-spacing: .225em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

a{

}

nav{
	height: inherit;
	right: 1.25em;
	line-height: inherit;
	position: absolute;
	top:0;
	color: #fff;
	font-weight: 100;
	letter-spacing: .225em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
	font-size: 0.8em;
}
